<section class="container">
    <div class="row">
        <div>
            <h1>Github User Search</h1>
        </div>
        <div>
            <form (submit)="searchUser()">
                <input [(ngModel)]="githubUserQuery" name="user" type="search" placeholder="github user">
                <input type="submit" value="search">
            </form>
        </div>
    </div>
    <div>
        <app-github-search-profile [githubPrrofile]="githubPrrofile">
        </app-github-search-profile>
    </div>
    <div>
        <app-github-search-repositories></app-github-search-repositories>
    </div>
</section>
