<section class="container">
    <div class="row">
        <div>
            <h1>Github User Search</h1>
        </div>
        <div>
            <form (submit)="searchUser()">
                <div>
                    <input id="user-input" class="form-control" [(ngModel)]="githubUserQuery" name="user" type="text" placeholder="github user-name">

                    <input type="submit" value="search" class="btn btn-success">
                </div> 
            </form>
        </div>
    </div>
    <div>
        <app-github-search-profile [githubPrrofile]="githubPrrofile">
        </app-github-search-profile>
    </div>
    <div>
        <app-github-search-repositories [githubRepositories]="githubRepositories"></app-github-search-repositories>
    </div>
</section>
