<section class="container">
    <div  id="stats" class="row">
        <span>{{githubPrrofile.followers}}Followers</span>
        <span>{{githubPrrofile.following}}Following</span>
        <span>{{githubPrrofile.public_repos}}Repositories</span>
        <hr>
    </div>
    <div class="row">
        <ul>
            <li>
                User Name:{{githubPrrofile.login}}
            </li>
            <li>
                Location:{{githubPrrofile.location}}
            </li>
            <li>
                Email:{{githubPrrofile.email}}
            </li>
            <li>
                Company:{{githubPrrofile.company}}
            </li>
            <li>
                Members Since:{{githubPrrofile.created_at|date}}
            </li>
            <li>
                Time passed:{{githubPrrofile.created_at|pastDate}}
            </li>
            <li>
                Profile URL:<a [href]="githubPrrofile.html_url" target="_blank">{{githubPrrofile.html_url}}</a>
            </li>
        </ul>
    </div>
</section>
